* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:manuka;
}
html,
body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    scale: 0.8;
    background-color: #241f11;
    border-radius: 5px;
    position: relative;
}
#texture1{
    height: 100%;
    width: 100%;
    background-image: url(./texture.jpeg);
    opacity: 0.5;
    position: absolute;
}
#timer{
    height: 8vw;
    width: 18vw;
    overflow: hidden;
    position: absolute;
    bottom: 4%;
    right: 2%;
    color: #fff;
    text-align: right;
    z-index: 99;

}

#timer h1{
    font-size: 7vw;
    font-weight: 800;
    transition-delay: 1s;
    transition: all ease 0.8s;
}
#page1 button{
    padding: 1.45vw 4.2vw;
    font-size: 2.6vw;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition-delay: 1s;
    transition: all ease 0.8s;
    font-weight: 900;
  
    opacity: 0;
    position: relative;
    overflow: hidden;
}


#page1 button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: all ease 0.5s;
    bottom: -100%;
    transition: all ease 0.4s;
    left: 0;
    bottom:-100%;
}

#page1 button span{
    display: block;
}
button:hover::after{
    bottom: 0;
}

button span{
    position: relative;
    transition: all ease 0.4s;
    z-index: 9;
    transition: all ease 0.5s;
}

button:hover span{
    color: #000;
}
#page1 button:hover::after{
    bottom: 0;
}
#content{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    color: #fff;
    padding: 3vw 3vw;
    padding-top: 10vw;
}

#page1 button:hover span{
    color: #000;
}
#content h1{
    font-family: manuka;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 17vw;
    line-height: 14vw;
    position: absolute;
    bottom: 8vh;

}
#content h1 span{
    font-weight: 900;
}

#content #patti{
    height: 29vw;
    position: absolute;
    top: 20%;
    z-index: 8;
    left: 28%;
}

#content #log{
    height: 26vw;
    position: absolute;
    top: 7%;
    rotate: 3deg;
    z-index: 7;
    left: 51%;
    opacity: 0;
}
#nav{
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: -100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 4.5vh;
    transition: all 0.2;

}
#nav .logo{
    fill: rgb(255, 255, 255);
    height: 3.2vh;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
}
#nav .country{
    fill: white;
    height: 2.2vh;
}
#nav-part2 h4{
    font-size: 2.2vh;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: montserrat;
}
#page2{
        height: 150vh;
        width: 100%;
        position: relative;
       
}
#page-part1{
    height: 70vh;
    width: 100%;
    background-color: #241f11;  
}
#texture2{
    height: 70vh;
    width: 100%;
    background-image: url(./texture.jpeg);
    opacity: 0.5;
    position: absolute;
}
#page-part2{
    height: 100%;
    width: 100%;
}
#page-part2 video{
    height: 100vh;
    width: 96%;
    object-fit: cover;
    position: absolute;
    top: 20vh;
    border-radius: 10px;
    left: 2%;
  
}